PROJECT_NAME=Sentin3l
VERSION=0.1.0
DEBUG=true

# Secret key used for application security features
SECRET_KEY=your-secret-key-here+

# SQLite database used in development
DATABASE_URL=sqlite:///./sentin3l.db